In [30]:
import pandas as pd
import numpy as np

df = pd.read_csv("muse_dataset.csv")

In [31]:
df.shape

(90408, 8)

In [32]:
df.isnull()

,id,track,artist,valence_tags,arousal_tags,dominance_tags,mbid,spotify_id
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
90403,False,False,False,False,False,False,True,True
90404,False,False,False,False,False,False,True,True
90405,False,False,False,False,False,False,True,True
90406,False,False,False,False,False,False,True,True
90407,False,False,False,False,False,False,False,False

In [33]:
df.iloc[:,:-1].values

array([[0, "'Till I Collapse", 'Eminem', ..., 5.273124999999999,
        5.690625, 'cab93def-26c5-4fb0-bedd-26ec4c1619e1'],
       [1, 'St. Anger', 'Metallica', ..., 5.832999999999999,
        5.427250000000002, '727a2529-7ee8-4860-aef6-7959884895cb'],
       [2, "Speedin'", 'Rick Ross', ..., 5.87, 5.49, nan],
       ...,
       [90405, 'Crookfield Zoo', 'Ace White', ..., 3.45, 5.33, nan],
       [90406, 'Transparent (Full Version)', 'Second Chyld', ..., 3.45,
        5.33, nan],
       [90407, 'Unfold', 'Message To Bears', ..., 1.405, 3.5,
        '247179b0-af1f-4c2b-b4fe-751070d1c0cc']], dtype=object)

In [34]:
df.iloc[:,3].values

array([4.55, 3.71, 3.08, ..., 5.37, 5.37, 3.34])

In [35]:
df.isnull().sum()

id                    0
track                 0
artist                0
valence_tags          0
arousal_tags          0
dominance_tags        0
mbid              28784
spotify_id        28506
dtype: int64

In [36]:
df.drop(columns=['mbid'], inplace=True)

In [37]:
df.isnull().sum()

id                    0
track                 0
artist                0
valence_tags          0
arousal_tags          0
dominance_tags        0
spotify_id        28506
dtype: int64

In [38]:
df.dropna(inplace=True)

In [39]:
df.isnull().sum()

id                0
track             0
artist            0
valence_tags      0
arousal_tags      0
dominance_tags    0
spotify_id        0
dtype: int64

In [40]:
df.shape

(61902, 7)

In [41]:
df.head

<bound method NDFrame.head of           id                             track                       artist  \
0          0                  'Till I Collapse                       Eminem
1          1                         St. Anger                    Metallica
2          2                          Speedin'                    Rick Ross
3          3                      Bamboo Banga                       M.I.A.
4          4                        Die MF Die                         Dope
...      ...                               ...                          ...
90391  90391  The Last of the Rest Was the End                  Medications
90392  90392                         Lovechild                Daniel Lanois
90397  90397                       Last Inhale                       Tapage
90401  90401               the dead flag blues  Godspeed You Black Emperor!
90407  90407                            Unfold             Message To Bears

       valence_tags  arousal_tags  dominance_tags              spotify_id
0          4.550000      5.273125        5.690625  4xkOaSrkexMciUUogZKVTS
1          3.710000      5.833000        5.427250  3fOc9x06lKJBhz435mInlH
2          3.080000      5.870000        5.490000  3Y96xd4Ce0J47dcalLrEC8
3          6.555071      5.537214        5.691357  6tqFC1DIOphJkCwrjVzPmg
4          3.771176      5.348235        5.441765  5bU4KX47KqtDKKaLM4QCzh
...             ...           ...             ...                     ...
90391      5.370000      3.450000        5.330000  7o3Np7cho9cBCrNDokxzYC
90392      6.685000      4.405000        5.625000  4fVObxldDzxxRD6a5Eth9s
90397      4.301667      3.341667        4.466667  5WxwRwUQ4R4L46VEm3213y
90401      5.399583      3.949500        5.190750  0YzMEu5sGNX0JKr9mdBtzd
90407      3.340000      1.405000        3.500000  14BYEOeRb3jzglJmKX8eM2

[61902 rows x 7 columns]>

In [29]:
df.tail

<bound method NDFrame.tail of           id                             track                       artist  \
0          0                  'Till I Collapse                       Eminem
1          1                         St. Anger                    Metallica
3          3                      Bamboo Banga                       M.I.A.
4          4                        Die MF Die                         Dope
5          5                           Step Up                Drowning Pool
...      ...                               ...                          ...
90391  90391  The Last of the Rest Was the End                  Medications
90392  90392                         Lovechild                Daniel Lanois
90397  90397                       Last Inhale                       Tapage
90401  90401               the dead flag blues  Godspeed You Black Emperor!
90407  90407                            Unfold             Message To Bears

       valence_tags  arousal_tags  dominance_tags  \
0          4.550000      5.273125        5.690625
1          3.710000      5.833000        5.427250
3          6.555071      5.537214        5.691357
4          3.771176      5.348235        5.441765
5          2.971389      5.537500        4.726389
...             ...           ...             ...
90391      5.370000      3.450000        5.330000
90392      6.685000      4.405000        5.625000
90397      4.301667      3.341667        4.466667
90401      5.399583      3.949500        5.190750
90407      3.340000      1.405000        3.500000

                                       mbid              spotify_id
0      cab93def-26c5-4fb0-bedd-26ec4c1619e1  4xkOaSrkexMciUUogZKVTS
1      727a2529-7ee8-4860-aef6-7959884895cb  3fOc9x06lKJBhz435mInlH
3      99dd2c8c-e7c1-413e-8ea4-4497a00ffa18  6tqFC1DIOphJkCwrjVzPmg
4      b9eb3484-5e0e-4690-ab5a-ca91937032a5  5bU4KX47KqtDKKaLM4QCzh
5      49e7b4d2-3772-4301-ba25-3cc46ceb342e  4Q1w4Ryyi8KNxxaFlOQClK
...                                     ...                     ...
90391  ffd10ae8-858a-4b5e-819e-64f1174bbd42  7o3Np7cho9cBCrNDokxzYC
90392  16c3d394-c4d4-4dc2-bbf1-b2bef3ac861c  4fVObxldDzxxRD6a5Eth9s
90397  b744fdbc-7b4c-49a1-a3d6-99047d82eb34  5WxwRwUQ4R4L46VEm3213y
90401  aacb5132-a952-42f8-bc55-9dee53d20549  0YzMEu5sGNX0JKr9mdBtzd
90407  247179b0-af1f-4c2b-b4fe-751070d1c0cc  14BYEOeRb3jzglJmKX8eM2

[50390 rows x 8 columns]>